div .viz {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 100px;
}

#xiaoyi {
    float: left;
    height: 500px;
    width: 800px;
    position: relative;
    margin-left: 100px;
    margin-right: 150px;
}

div.xiaoyi_hoverinfo {
    background-color: #f1f4f1;
    opacity: 20%;
    padding: 10px;
    border-radius: 5px;
}
#siyi {
    overflow: hidden;
    margin: 100px;
    background: #ddd;
    width: 1000px;
}
#siyi-info {
    float: left;
    position: relative;
    height: 100px;
    width: 1000px;
    background: rgba(90,90,90,0.9);
    padding: 20px;
    opacity: 1;
    color: white;
    z-index: 100;
    font-size: 20px;
}

#trent .x_axis path,
#trent .x_axis line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: #000;
}

#trent .y_axis path,
#trent .y_axis line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: #000;
}

#trent .toggle {
	padding-left: 455px;
	padding-top: 20px;
}
#trent .tooltip {
	position: absolute
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px san-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 2px;
}

#jing-event-picker {
    margin-left: 15%;
    margin-bottom: 20px;
}

#jing p {
    width:860px;
    margin-left: 100px;
}

#jing h1 {
    margin-left: 100px;
}

.alextooltip {   
    position: absolute;           
    text-align: center;           
    padding: 5px;             
    font: 12px sans-serif;        
    font-weight: bold;
    color: white;
    background: rgb(80,80,80);   
    border: 0px;      
    border-radius: 8px;           
    pointer-events: none;         
}
