div .viz {
	margin-bottom: 20px;
	margin-top: 20px;
}

#xiaoyi{
  float:left;
  height: 500px;
  width:1000px;
  position: relative;
}

div.xiaoyi_hoverinfo {
	background-color: #f1f4f1;
	opacity: 20%;
	padding: 10px;
	border-radius: 5px;
}

#trent .x_axis line {
	shape-rendering: crispEdges;
	stroke: #000;
}

#trent .x_axis path {
	display: none;
}

